* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #10aeb5;
}
header {
    height: 200px;
}
#main {
    width:800px;
    margin: 0 auto;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
}
.virus1 {
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    color: #afdade;
    margin-top: 0.4em;
}
.virus2 {
    font-size: 2rem;
    height: 2rem;
    content: attr(data-text);
    color: #afdade;
    margin-top: 0.4em;
}
#chinaMap {
    width: 800px;
    height:800px;
    margin: 0 auto;
    background-color: #f8f9fa;
}
#virusSummary {
    background-color: #ffffff;
    width: 800px;
    padding-top: 20px;
    padding-bottom: 50px;
}
#ip, #sp, #cure, #dead {
    width:190px;
    height:80px;
    position: relative;
    display: inline-block;
    text-align: center;
}
#virusSummary .name {
    font-size: 1.1em;
    padding-top: 15px;
}
#virusSummary .data {
    padding-top: 5px;
    font-size: 1.5em;
}
.input1 {
    display: none;
    box-sizing: border-box;
}
.choose, .choose1 {
    box-sizing: border-box;
    width:800px;
    height: 44px;
    outline: 0;
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    background-attachment: scroll;
    background-clip: border-box;
    font-weight: 700;
    background-color: #e3e6eb;
}
.choose:after {
    content: "现有确诊";
    text-align: center;
    box-sizing: border-box;
    width: 50%;
    left: 0;
    background-color: #ffffff;
    border-radius: 8px;
}
.choose1:after {
    content: "现有确诊";
    text-align: center;
    box-sizing: border-box;
    width: 50%;
    left: 0;
    background-color: #e3e6eb;
}
.choose:before {
    content: "累计确诊";
    text-align: center;
    box-sizing: border-box;
    left: 50%;
    width: 50%;
}
.choose1:before {
    content: "累计确诊";
    text-align: center;
    box-sizing: border-box;
    left: 50%;
    width: 50%;
    background-color: #ffffff;
    border-radius: 8px;
}
.choose:after, .choose:before, .choose1:after, .choose1:before {
    position: absolute;
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    justify-content: center;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
#footer {
    width: 800px;
    height: 40px;
    text-align: center;
    position: relative;
    padding-top: 20px;
    font-size: 1.2em;
    background-color: #e3e6eb;
}